__pycache__/
src/wsba_hockey/pbp/
src/wsba_hockey/stats/
src/wsba_hockey/tools/xg_model/moneypuck/shots/
src/wsba_hockey/tools/xg_model/moneypuck/shots_2024.zip
src/wsba_hockey/workspace.py
src/wsba_hockey/plots/
src/wsba_hockey/web/
src/wsba_hockey/sources/
src/wsba_hockey/.vscode
src/wsba_hockey/evidence/
src/wsba_hockey/weakside-breakout/
src/wsba_hockey/backblaze_pbp/
src/wsba_hockey/data_pipelines.py